<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Megustaelsol.com!{% endblock %}</title>
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        <!-- Site Icons -->
        {% block icons %}
            <link rel="shortcut icon" href="{{asset('images/favicon.ico')}}" type="image/x-icon" />
            <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}">
        {% endblock %}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block fonts %}
            <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        {% endblock %}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
            <!-- Site CSS -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/site.css') }}">
            <!-- ALL VERSION CSS -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/versions.css') }}">
            <!-- Responsive CSS -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}">
            <!-- Custom CSS -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/custom.css') }}">

            <link href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.6/dist/cookieconsent.css" rel="stylesheet" type="text/css" />
        {% endblock %}
        {% block js %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script type="text/javascript" src="{{ asset('js/modernizer.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block modal %}
            <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header tit-up">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Login</h4>
                        </div>
                        <div class="modal-body customer-box">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li><a class="active" href="#Login" data-toggle="tab">Login</a></li>
                                <li><a href="#Registration" data-toggle="tab">Registro</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="Login">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input class="form-control" id="email1" placeholder="Nombre" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input class="form-control" id="exampleInputPassword1" placeholder="Email"
                                                       type="email">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-light btn-radius btn-brd grd1">
                                                    Enviar
                                                </button>
                                                <a class="for-pwd" href="javascript:;">Olvidaste tu contraseña?</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="Registration">
                                    <form role="form" class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input class="form-control" placeholder="Nombre" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input class="form-control" id="email" placeholder="Email" type="email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input class="form-control" id="mobile" placeholder="Movil" type="email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input class="form-control" id="password" placeholder="Password"
                                                       type="password">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <button type="button" class="btn btn-light btn-radius btn-brd grd1">
                                                    Guardar &amp; Continuar
                                                </button>
                                                <button type="button" class="btn btn-light btn-radius btn-brd grd1">
                                                    Cancelar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block preloader %}
            <div id="preloader">
                <div class="loader-container">
                    <div class="progress-br float shadow">
                        <div class="progress__item"></div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block header %}
            <header class="top-navbar">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="index.html">
                            <!-- <img src="images/logo.png" alt="" /> -->
                            <img src="https://placeholder.pics/svg/270x50/888888/EEE/TestLogo" alt="..." height="36">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host"
                                aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbars-host">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active"><a class="nav-link" href="index.html">Inicio</a></li>
                                <li class="nav-item"><a class="nav-link" href="about.html">Sobre Nosotros</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Productos</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                        <a class="dropdown-item" href="course-grid-2.html">NavBar item Grid 2 </a>
                                        <a class="dropdown-item" href="course-grid-3.html">NavBar item Grid 3 </a>
                                        <a class="dropdown-item" href="course-grid-4.html">NavBar item Grid 4 </a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-a"
                                       data-toggle="dropdown">Blog </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown-a">
                                        <a class="dropdown-item" href="blog.html">Noticias </a>
                                        <a class="dropdown-item" href="blog-single.html">Noticias single</a>
                                    </div>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="teachers.html">Profesionales</a></li>
                                <li class="nav-item"><a class="nav-link" href="pricing.html">Precios</a></li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="hover-btn-new log orange" href="#" data-toggle="modal" data-target="#login"><span>Acceder</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}
        {# Block to add main content#}
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h3>Sobre Nosotros</h3>
                                </div>
                                <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus
                                    bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis
                                    dis montes.</p>
                                <div class="footer-right">
                                    <ul class="footer-links-soi">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    </ul><!-- end links -->
                                </div>
                            </div><!-- end clearfix -->
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h3>Links de informacion</h3>
                                </div>
                                <ul class="footer-links">
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Precio</a></li>
                                    <li><a href="#">Sobre Nosotros</a></li>
                                    <li><a href="#">Contacto</a></li>
                                </ul><!-- end links -->
                            </div><!-- end clearfix -->
                        </div><!-- end col -->

                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="widget clearfix">
                                <div class="widget-title">
                                    <h3>Detalles de contacto</h3>
                                </div>

                                <ul class="footer-links">
                                    <li><a href="mailto:#">info@yoursite.com</a></li>
                                    <li><a href="#">www.todosobreelsol.com</a></li>
                                    <li>C/ Sin Nombre 666</li>
                                    <li>+34 666 66 66</li>
                                </ul><!-- end links -->
                            </div><!-- end clearfix -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </footer>
        {% endblock %}
        {% block copyrigth %}
            <div class="copyrights">
                <div class="container">
                    <div class="footer-distributed">
                        <div class="footer-center">
                            <p class="footer-company-name">Todos los derechos. &copy; 2022 || <a href="#">www.todosobreelsol.com</a></p>
                            {#<p class="footer-company-name"></p>#}
                        </div>
                    </div>
                </div><!-- end container -->
            </div>
        {% endblock %}
        {% block scrolltop %}
            <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
        {% endblock %}
        {% block javascripts %}

            # CDN links
            <script src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.6/dist/cookieconsent.js"></script>

            {#{{ encore_entry_script_tags('app') }}#}
            <script src="{{ asset('js/all.js')}}"></script>
            <!-- ALL PLUGINS -->
            <script src="{{ asset('js/custom.js')}}"></script>
            <script src="{{ asset('js/timeline.min.js')}}"></script>
            <script>
                timeline(document.querySelectorAll('.timeline'), {
                    forceVerticalMode: 700,
                    mode: 'horizontal',
                    verticalStartPosition: 'left',
                    visibleItems: 4
                });
            </script>
            <script src="{{ asset('js/consent_cookies.js') }}"></script>
            {#<script>
                window.addEventListener('load', function(){
                    // obtain plugin
                    var cc = initCookieConsent();

                    // run plugin with your configuration
                    cc.run({
                        current_lang: 'en',
                        autoclear_cookies: true,                   // default: false
                        page_scripts: true,                        // default: false

                        // mode: 'opt-in'                          // default: 'opt-in'; value: 'opt-in' or 'opt-out'
                        // delay: 0,                               // default: 0
                        // auto_language: '',                      // default: null; could also be 'browser' or 'document'
                        // autorun: true,                          // default: true
                        // force_consent: false,                   // default: false
                        // hide_from_bots: false,                  // default: false
                        // remove_cookie_tables: false             // default: false
                        // cookie_name: 'cc_cookie',               // default: 'cc_cookie'
                        // cookie_expiration: 182,                 // default: 182 (days)
                        // cookie_necessary_only_expiration: 182   // default: disabled
                        // cookie_domain: location.hostname,       // default: current domain
                        // cookie_path: '/',                       // default: root
                        // cookie_same_site: 'Lax',                // default: 'Lax'
                        // use_rfc_cookie: false,                  // default: false
                        // revision: 0,                            // default: 0

                        onFirstAction: function(user_preferences, cookie){
                            // callback triggered only once on the first accept/reject action
                        },

                        onAccept: function (cookie) {
                            // callback triggered on the first accept/reject action, and after each page load
                        },

                        onChange: function (cookie, changed_categories) {
                            // callback triggered when user changes preferences after consent has already been given
                        },

                        languages: {
                            'en': {
                                consent_modal: {
                                    title: 'We use cookies!',
                                    description: 'Hi, this website uses essential cookies to ensure its proper operation and tracking cookies to understand how you interact with it. The latter will be set only after consent. <button type="button" data-cc="c-settings" class="cc-link">Let me choose</button>',
                                    primary_btn: {
                                        text: 'Accept all',
                                        role: 'accept_all'              // 'accept_selected' or 'accept_all'
                                    },
                                    secondary_btn: {
                                        text: 'Reject all',
                                        role: 'accept_necessary'        // 'settings' or 'accept_necessary'
                                    }
                                },
                                settings_modal: {
                                    title: 'Cookie preferences',
                                    save_settings_btn: 'Save settings',
                                    accept_all_btn: 'Accept all',
                                    reject_all_btn: 'Reject all',
                                    close_btn_label: 'Close',
                                    cookie_table_headers: [
                                        {col1: 'Name'},
                                        {col2: 'Domain'},
                                        {col3: 'Expiration'},
                                        {col4: 'Description'}
                                    ],
                                    blocks: [
                                        {
                                            title: 'Cookie usage 📢',
                                            description: 'I use cookies to ensure the basic functionalities of the website and to enhance your online experience. You can choose for each category to opt-in/out whenever you want. For more details relative to cookies and other sensitive data, please read the full <a href="#" class="cc-link">privacy policy</a>.'
                                        }, {
                                            title: 'Strictly necessary cookies',
                                            description: 'These cookies are essential for the proper functioning of my website. Without these cookies, the website would not work properly',
                                            toggle: {
                                                value: 'necessary',
                                                enabled: true,
                                                readonly: true          // cookie categories with readonly=true are all treated as "necessary cookies"
                                            }
                                        }, {
                                            title: 'Performance and Analytics cookies',
                                            description: 'These cookies allow the website to remember the choices you have made in the past',
                                            toggle: {
                                                value: 'analytics',     // your cookie category
                                                enabled: false,
                                                readonly: false
                                            },
                                            cookie_table: [             // list of all expected cookies
                                                {
                                                    col1: '^_ga',       // match all cookies starting with "_ga"
                                                    col2: 'google.com',
                                                    col3: '2 years',
                                                    col4: 'description ...',
                                                    is_regex: true
                                                },
                                                {
                                                    col1: '_gid',
                                                    col2: 'google.com',
                                                    col3: '1 day',
                                                    col4: 'description ...',
                                                }
                                            ]
                                        }, {
                                            title: 'Advertisement and Targeting cookies',
                                            description: 'These cookies collect information about how you use the website, which pages you visited and which links you clicked on. All of the data is anonymized and cannot be used to identify you',
                                            toggle: {
                                                value: 'targeting',
                                                enabled: false,
                                                readonly: false
                                            }
                                        }, {
                                            title: 'More information',
                                            description: 'For any queries in relation to our policy on cookies and your choices, please <a class="cc-link" href="#yourcontactpage">contact us</a>.',
                                        }
                                    ]
                                }
                            }
                        }
                    });
                });
            </script>#}
        {% endblock %}
    </body>
</html>
